:root {
	--color-1: #222222;     /* was #231710 */
	--color-2: #333333;     /* was #4c3224 */
	--color-3: #6e6d6d;  /* was #812e00 */
	--color-4: #b4b0ae;  /* was #ff965c and simmilar */
	--color-5: #90959b;  /* used in navbar selection*/
	--color-6: #dddddd;     /* used in menu-hover and wrap title */
}



h1,h2,h3,h4,h5,h6 {
	color: #111110;
}

body{
	background-color: #E3E1D4;
	background-image: url(https://www.tiara.sinica.edu.tw/_img/bg_body.jpg);
}

.display-4 {
	color: inherit; /* Replace with your desired color value */
  }

.form-control:focus {
	border-color: var(--color-2);
}

blockquote {
	border-color: var(--color-2);
	border-bottom: solid 1px var(--color-2);
}

blockquote.pull-right {
	border-right: 5px solid var(--color-2);
	border-bottom: solid 1px var(--color-2);
}

.lead strong {
	color: var(--color-2);
}

.well {
	border-color: var(--color-2);
}

/*
.jumbotron {
	border-bottom: solid 5px var(--color-1);
	border-top: solid 5px var(--color-1);
	border-left: solid 1px var(--color-1);
	border-right: solid 1px var(--color-1);
}
*/


.panel-primary .panel-heading,.panel-primary .panel-footer {
	background-color: var(--color-2);
}

.panel-primary .panel-heading a,.panel-primary .panel-footer a {
	color: var(--color-4);
}

.panel-primary {
	border-color: var(--color-2);
}

.panel-primary .panel-heading,.panel-primary .panel-footer {
	background-color: var(--color-2);
}

.panel-group>.panel .panel-body {
	border: solid 1px var(--color-2) !important;
}

.panel-group>.panel .panel-heading a {
	background-color: var(--color-2);
}

.nav-pills>li>a {
	color: var(--color-2);
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
	background-color: var(--color-2);
}

.nav-tabs li a:hover,.nav-tabs li.active a,.nav-tabs li.active a:hover,.nav-tabs li.active a:focus {
	color: var(--color-2);
	border-top: solid 3px var(--color-2);
}

a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus {
	background-color: var(--color-2);
	border-color: var(--color-2);
}

.btn-primary {
	background-color: var(--color-2);
	border-color: #311202;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
	background-color: #6b2600;
	border-color: #290e00;
}

a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active {
	border-color: var(--color-2);
}

.badge {
	background-color: var(--color-2);
}

.label-primary {
	background-color: var(--color-2);
}

.table>thead>tr>th {
	border-bottom: 2px solid var(--color-2);
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
	background-color: var(--color-2);
	border-color: var(--color-2);
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
	background-color: var(--color-2);
	border-color: var(--color-2);
}

dt {
	color: var(--color-2);
}

#header {
	background-color: var(--color-1);
}

#header-title h1 span {
	color: var(--color-4);
}

#search-header input {
	background-color: #735035;
	border-color: #735035;
}

a.social-icon:hover {
	background-color: var(--color-2);
}

.navbar-mind .navbar-brand span {
	color: var(--color-4);
}

.navbar-mind {
	background-color: var(--color-1);
}

.navbar-mind .nav a:hover,.navbar-mind .nav li.active a,.navbar-mind .nav a:focus {
	background-color: var(--color-6);
	color : var(--color-1)
}

.navbar-mind .nav .open>a,.navbar-mind .nav .open>a:hover,.navbar-mind .nav .open>a:focus {
	background-color: var(--color-1);
}

.navbar-mind .nav a .caret {
	border-top-color: var(--color-4);
	border-bottom-color: var(--color-4);
}

.navbar-mind .nav .open>a .caret,.navbar-mind .nav .open>a:hover .caret,.navbar-mind .nav .open>a:focus .caret,.navbar-mind .nav .active .caret,.navbar-mind .nav a:hover .caret,.navbar-mind .nav a:focus .caret {
	border-top-color: var(--color-2);
	border-bottom-color: var(--color-2);
}

.navbar-mind .dropdown-menu {
	background-color: var(--color-1);
	border-bottom: solid 0 var(--color-1);
	border-left: solid 1px var(--color-1);
	border-right: solid 1px var(--color-1);
	border-top: solid 0 var(--color-1);
}

.navbar-mind .dropdown-menu a:hover,.navbar-mind .dropdown-menu li.active a:hover,.navbar-mind .dropdown-menu a:focus,.navbar-mind .dropdown-menu li.active a:focus,.navbar-mind .dropdown-menu li.active a {
	background-color: #7a6b62 !important;
}

.navbar-mind .nav .nav-divider {
	background-color: var(--color-1);
}

.navbar-mind .dropdown-header {
	border-bottom: solid 1px var(--color-1);
	border-top: solid 1px var(--color-1);
}

.dropdown-login {
	border-top: solid 4px var(--color-1) !important;
	border-bottom: solid 4px var(--color-1) !important;
}

.dropdown-profile {
	border-top: solid 4px var(--color-1) !important;
	border-bottom: solid 4px var(--color-1) !important;
}

.mind-features-item i {
	color: var(--color-2);
}

.mind-features-item .item-content {
	background-color: var(--color-2);
}

.home-post-title a {
	color: var(--color-2);
}

.pricign-box-pro {
	border-color: var(--color-2);
}

.pricign-box-pro>.pricing-box-header {
	background-color: var(--color-2);
}

#footer-widgets {
	background-color: var(--color-1);
	border-top: solid 5px var(--color-2);
}

#footer-widgets a {
	color: var(--color-4);
}

#footer a {
	color: var(--color-4);
}


.post-info span {
	color: var(--color-2);
}

.block ul.simple li a {
	border-left: solid 2px var(--color-2);
}

.tags-cloud a {
	color: var(--color-2);
}

.tags-cloud a:hover {
	background-color: var(--color-2);
}

.portfolio-control>li.active,.portfolio-control>li:hover {
	background-color: var(--color-2);
}

.wrap-coming2 h1 span,.wrap-coming2 h2 span {
	color: var(--color-4);
}

@media (min-width:768px) {
	.timeline-event-left:after {
		border-color: transparent transparent transparent var(--color-2);
	}

	.timeline-event-right:after {
		border-color: transparent var(--color-2) transparent transparent;
	}

	.timeline-event-right:before {
		background-color: var(--color-2);
	}

	.timeline-event-left:before {
		background-color: var(--color-2);
	}
}

.timeline-title span {
	background-color: var(--color-2);
	padding: 8px;
	color: #fff;
	border-radius: 3px;
}

.mind-box {
	background-color: var(--color-2);
}

.mind-box:hover {
	background-color: #6b2800;
}

.mind-box-success {
	background-color: #804e00;
}

.mind-box-success:hover {
	background-color: #6b2f00;
}

.mind-box-info {
	background-color: #8300ae;
}

.mind-box-info:hover {
	background-color: #700095;
}

.mind-box-warning {
	background-color: #f89e01;
}

.mind-box-warning:hover {
	background-color: #df8e01;
}

.mind-box-danger {
	background-color: #bf0000;
}

.mind-box-danger:hover {
	background-color: #a60000;
}

.inverse-wrap {
	background-color: var(--color-1);
}

.inverse-wrap .lead strong {
	color: var(--color-4);
}

.service-list li:before {
	border: solid 1px var(--color-2);
	color: var(--color-2);
}

.icon-item:hover i {
	color: var(--color-4);
}

.back .icon-item h3 {
	color: var(--color-4);
}

.icon-box i {
	background-color: #ffe8db;
	border-left: solid 4px var(--color-2);
	color: var(--color-2);
}

.icon-box .icon-box-content {
	background-color: #edfbff;
}

.icon-box.icon-box-inverse .icon-box-content {
	background-color: var(--color-2);
}

.icon-box.icon-box-inverse i {
	background-color: #6b2600;
}
