@charset "utf-8";

#mynewsdis_gallery{
	width: 240px;
	float: right;
}

#mynewsdis{
	margin-right: 10px;
	line-height: 1em;
}
.thumbnail{
	margin: 0 auto;
	text-align: center;
}
.title4top{
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	color: #000000;
	font-size: 140%;
	margin-bottom: 10px;
}
#mynewsdis .title4top a{
	color: #003366;
}
.click4more{
	color: #996600;
	font-size: 80%;
	text-align: center;
	font-weight: normal;
}
.title4gallery{
	font-size: 90%;
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
}
.eventline{
	font-weight: normal;
	margin-top: 10px;
}
.creditline{
	font-weight: normal;
	font-size: 90%;
	font-style: italic;
}


.news_style{
	display:none; /* to hide the next news title */
}
.news_show
{
	background-color: white;
	width: 100%;
	overflow: auto;	
}
.news_border
{
	background-color: white;
	width: 240px;
	height:400px;
	overflow: auto;	
	border: #999966 1px solid;
	border-bottom: none;
	padding: 5px 5px 5px 5px;
}
.news_mark{
	display: none;
}
.news_title{
	display: none;
}
.news_show img{
	margin: 0 auto;
}
.buttondiv
{
	/*position: absolute;*/
	/*float: left;*/
	/*top: 169px;*/
	width:240px;
	text-align: right;
	padding: 5px 5px 5px 5px;
	background-color:white;
	border: #999966 1px solid;
	border-top-color: #EFEFEF;
	height:20px;
}
