:root {
	--color-1: #222222;     /* was #231710 */
	--color-2: #333333;     /* was #4c3224 */
	--color-3: #6e6d6d;  /* was #812e00 */
	--color-4: #b4b0ae;  /* was #ff965c and simmilar */
	--color-5: #90959b;  /* used in navbar selection*/
	--color-6: #dddddd;     /* used in menu-hover and wrap title */
	--color-bg-asiaa: #E3E1D4; /* old asiaa webpage bg */
}

/*
 note : slider word color : #290e00
*/
@import url(http://fonts.googleapis.com/css?family=Abel|Lato:300,400,700,400italic);
body{
	/*
	height:100vh;
	min-height: calc(75vh - 50px);
	min-width: 970px;
	*/
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	background-repeat: repeat-x;
}
#top{ /* anchor to top */
	position: absolute;
	top: 0;
}
a{
	color: #006699;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img{
	border: 0;
}

h1{
	/*
	color:		#222;
	*/
	font-family: 'Open Sans', sans-serif;
	font-size: 140%;
}
h2{
	/*
	color:		#000033;
	*/
	font-family: 'Open Sans', sans-serif;
	font-size: 120%;
}
ul{
	list-style-type: square;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	padding: 1px;
	background-color: none;
	color: #260d00;
	text-align: left;
	font-size: 1.1em;
	border-bottom: 1px solid;
}


.radial-gradient {

    background-repeat:no-repeat;

background-size: 100% 100%;
background-image: radial-gradient(farthest-corner at 40px 40px,
      #111 20%, var(--color-1) 100%,var(--color-6) 100%);
}
.text-glow{
  color: var(--color-2);
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.t2{

  color: var(--color-2);
   text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
}

.highlight-color-2 {
	color: var(--color-2);
}
.highlight-color-1 {
	color: var(--color-1);
  }


section {
	margin-bottom: 40px !important;
}

.top-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

section.inverse {
	background-color: #6b2600;
	color: #fff;
}

iframe {
	border: 0;
}

:focus {
	outline: none !important;
}

::-moz-focus-inner {
	border: 0 !important;
}

.video iframe,.video object,.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

input {
	border-radius: 0 !important;
}

textarea {
	border-radius: 0 !important;
}


.input-group-btn .btn {
	border-radius: 0;
}

.menu {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
/*
@media (max-width:991px) {
	.menu {
		position: static;
		margin-bottom: 40px;
	}
}
*/

/*
@media (min-width:992px) {
	.affix-bottom {
		position: absolute;
		top: auto;
	}

	.menu {
		top: 25px;
		width: 220px;
	}
}
*/

/*
@media (min-width:1200px) {
	.menu {
		top: 25px;
		width: 260px;
	}
}
*/
.fa-15x {
	font-size: 15em;
}

.fa-10x {
	font-size: 10em;
}

.fa-6x {
	font-size: 6em;
}

.fa-7x {
	font-size: 7em;
}

.fa-8x {
	font-size: 8em;
}

.media {
	margin-bottom: 25px;
}

.media p {
	margin-bottom: 0;
}

.media small {
	font-style: oblique;
	color: #555;
	font-size: 90%;
}

.media-heading {
	line-height: 140%;
}

.media-list>li:last-child {
	margin-bottom: 0;
}

blockquote {
	border-color: var(--color-3);
	border-bottom: solid 1px var(--color-3);
	background-color: #f1f1f1;
	overflow: hidden;
}

blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid var(--color-3);
	border-bottom: solid 1px var(--color-3);
	border-left: 0;
	float: none !important;
}

.lead {
	font-size: 2em;
	font-weight: 300;
	margin-bottom: 30px;
}

.lead-lg {
	font-size: 3em;
}

.lead strong {
	color: var(--color-3);
	font-weight: 300;
}


.jumbotron {
	padding: 0.01%;
	border-radius: 0 !important;
	/*background-image: url(../../data/img/home-page/carousel/back_jumptron_hidden.png);*/
	background-size: contain;
	background-position: center;
	border-bottom: solid 6px var(--color-6);
	border-top: solid 0px var(--color-1);
	border-left: solid 0px var(--color-1);
	border-right: solid 0px var(--color-1);
}

.jumbotron.visible-xs {
    background-image: url(../../data/img/home-page/carousel/back_jumptron_visible.png);
    color:var(--color-5);
  }
.jumbotron.visible-xs h1{
	font-size: 2.0em
}

.jumbotron.visible-xs p{
		margin: 0; /* Remove default margins */
		padding: 0; /* Remove default padding */
  }

.jumbotron.visible-xs .lead {
    /* Styles for .lead under .jumbotron.visible-xs */
    color: rgb(56, 41, 47);
    font-size: 1.2em;
    /* Add any other styles as desired */
  }

  

.jumbotron.hidden-xs {
    background-image: url(../../data/img/home-page/carousel/back_jumptron_hidden.png);
    color:var(--color-3);
  }

.jumbotron.hidden-xs h1{
	font-size: 1.9em
}

.jumbotron.hidden-xs p{
	margin: 0; /* Remove default margins */
	padding: 0; /* Remove default padding */
}

.jumbotron.hidden-xs .lead {
    /* Styles for .lead under .jumbotron.hidden-xs */
    color: rgb(66, 39, 39);
    font-size: 1.4em;
    /* Add any other styles as desired */
  }


.alert {
	border-radius: 0;
	padding: 10px;
}

.alert-success {
	background-color: #deeedd;
	color: #005b00;
	border-left: solid 5px #804e00;
	border-right: solid 5px #804e00;
	border-top: solid 1px #804e00;
	border-bottom: solid 1px #804e00;
}

.alert-info {
	background-color: #dcecf2;
	color: var(--color-3);
	border-left: solid 5px var(--color-3);
	border-right: solid 5px var(--color-3);
	border-top: solid 1px var(--color-3);
	border-bottom: solid 1px var(--color-3);
}

.alert-warning {
	background-color: #ffedce;
	color: #de8e03;
	border-left: solid 5px #f89e01;
	border-right: solid 5px #f89e01;
	border-top: solid 1px #f89e01;
	border-bottom: solid 1px #f89e01;
}

.alert-danger {
	background-color: #ffd6d6;
	color: #bf0000;
	border-left: solid 5px #bf0000;
	border-right: solid 5px #bf0000;
	border-top: solid 1px #bf0000;
	border-bottom: solid 1px #bf0000;
}

.progress {
	border-radius: 0;
}

.progress-sm {
	height: 10px;
}

.progress-xs {
	height: 5px;
}

.progress-lg {
	height: 30px;
}

.progress-bar {
	background-color: var(--color-3);
}

.progress-bar-success {
	background-color: #005b00;
}

.progress-bar-info {
	background-color: #8300ae;
}

.progress-bar-warning {
	background-color: #de8e03;
}

.progress-bar-danger {
	background-color: #bf0000;
}

.panel {
	border-radius: 0;
}

.panel-title {
	color: #fff;
	font-size: 1.2em;
}

.panel-body {
	font-size: 1.1em;
}


.panel .panel-heading,.panel .panel-footer {
	background-color: var(--color-3);
	color: #fff;
	border-radius: 0;
	border: 0;
}

.panel-primary .panel-heading a,.panel-primary .panel-footer a {
	color: var(--color-4);
}

.panel-primary .panel-heading a:hover,.panel-primary .panel-footer a:hover,.panel-primary .panel-heading a:focus,.panel-primary .panel-footer a:focus {
	color: #eee;
}

.panel .panel-footer i {
	margin-left: 8px;
}

.panel .panel-heading i,.panel .panel-footer i {
	font-size: 1.em;
	margin-right: 5px;
}

.panel>.panel-body {
	background-color: #f7f7f7;
	margin: 0;
}

.panel-footer~.panel-body {
	border-color: #f00 !important;
}

.panel .list-group {
	background-color: #f7f7f7;
	border: solid 1px var(--color-3);
}

.panel .list-group .list-group-item {
	background-color: #f7f7f7;
}

.panel-default>.panel-body {
	border-color: var(--color-6);
}

.panel-default .panel-heading {
	border-bottom: solid 1px var(--color-6);
}

.panel-default .panel-footer {
	border-top: solid 1px var(--color-6);
}

.panel-default .panel-heading,.panel-default .panel-footer {
	background-color: #eee;
	color: #000;
}

.panel-default .panel-title {
	color: #000;
}

.panel-primary {
	border-color: var(--color-3);
}

.panel-primary .panel-heading,.panel-primary .panel-footer {
	background-color: var(--color-3);
	color: #fff;
}

.panel-primary .panel-title {
	color: #fff;
}

.panel-info {
	border-color: #8300ae;
}

.panel-info .panel-heading,.panel-info .panel-footer {
	background-color: #8300ae;
	color: #fff;
}

.panel-info .panel-title {
	color: #fff;
}

.panel-success {
	border-color: var(--color-4);
}

.panel-success .panel-heading,.panel-success .panel-footer {
	background-color: var(--color-4);
	color: #fff;
}

.panel-success .panel-title {
	color: #fff;
}

.panel-warning {
	border-color: #f89e01;
}

.panel-warning .panel-heading,.panel-warning .panel-footer {
	background-color: #f89e01;
	color: #fff;
}

.panel-warning .panel-title {
	color: #fff;
}

.panel-danger {
	border-color: #bf0000;
}

.panel-danger .panel-heading,.panel-danger .panel-footer {
	background-color: #bf0000;
	color: #fff;
}

.panel-danger .panel-title {
	color: #fff;
}

.panel-group>.panel {
	border-radius: 0;
}

.panel-group>.panel .panel-body {
	background-color: #f7f7f7;
	border: solid 1px var(--color-3) !important;
	margin: 0;
}

.panel-group>.panel a {
	color: #fff;
}

.panel-group>.panel .panel-heading {
	background-color: transparent;
	padding: 0;
	border: 0;
}

.panel-group>.panel .panel-heading a {
	display: block;
	background-color: var(--color-3);
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 400;
	font-size: .9em;
}

.panel-group .panel>.panel-heading a.collapsed:before {
	font-family: 'FontAwesome';
	content: "\f067";
	font-size: 1.4em;
	margin-right: 10px;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	*margin-right: .3em;
}

.panel-group .panel>.panel-heading a:before {
	font-family: 'FontAwesome';
	content: "\f068";
	font-size: 1.4em;
	margin-right: 10px;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	*margin-right: .3em;
}

.nav-pills>li>a {
	border-radius: 0;
	color: var(--color-3);
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
	background-color: var(--color-3);
}

.nav-pills.nav-stacked>li>a {
	border-top: solid 1px var(--color-3);
	border-left: solid 1px var(--color-3);
	border-right: solid 1px var(--color-3);
}

.nav-stacked>li+li {
	margin: 0;
}

.nav-stacked>li:last-child {
	border-bottom: solid 1px var(--color-6);
}

.nav-tabs {
	border-top: transparent 1px var(--color-6);
	border-right: transparent 1px var(--color-6);
	border-left: transparent 1px var(--color-6);
	border-bottom: transparent 1px var(--color-6);
}

.nav-tabs li:first-child a {
	border-left: solid 1px var(--color-6);
}

.nav-tabs li a {
	margin-top: -4px;
	margin-right: 0;
	border-radius: 0;
	border-top: solid 1px var(--color-6);
	border-right: solid 1px var(--color-6);
	border-left: solid 1px var(--color-6);
	border-bottom: solid 1px var(--color-6);
	color: #555;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	padding-right: 5px;
	padding-left: 5px;
}

.nav-tabs li a:hover,.nav-tabs li.active a,.nav-tabs li.active a:hover,.nav-tabs li.active a:focus {
	border-top: solid 1px var(--color-6);
	border-right: solid 1px var(--color-6);
	border-left: solid 1px var(--color-6);
	border-bottom: solid 1px var(--color-6);
	background-color: rgba(0,0,0,0.2);

	color: var(--color-3);
	padding-right: 5px;
	padding-left: 5px;
}
/*
@media (min-width:370px) {
	.nav-tabs li a {
		padding-right: 10px;
		padding-left: 10px;
	}

	.nav-tabs li a:hover,.nav-tabs li.active a,.nav-tabs li.active a:hover,.nav-tabs li.active a:focus {
		padding-right: 25px;
		padding-left: 25px;
	}
}
*/

.nav-tabs+.tab-content {
	padding: 15px;
	border-top: solid 1px var(--color-3);
	border-right: solid 0px var(--color-3);
	border-left: solid 0px var(--color-3);
	border-bottom: solid 0px var(--color-3);
	overflow: hidden;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus {
	background-color: var(--color-3);
	border-color: var(--color-3);
}

.btn {
	border-radius: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.btn-primary {
	background-color: var(--color-3);
	border-color: #6b2600;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
	background-color: #6b2600;
	border-color: #290e00;
}

.btn-success {
	background-color: var(--color-4);
	border-color: #804e00;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
	background-color: #804e00;
	border-color: #5c2100;
}

.btn-danger {
	background-color: #bf0000;
	border-color: #a50000;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
	background-color: #a50000;
	border-color: #820000;
}

.btn-warning {
	background-color: #f89e01;
	border-color: #de8d01;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
	background-color: #de8d01;
	border-color: #be7901;
}

.btn-success {
	background-color: #ff691a;
	border-color: #804e00;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
	background-color: #804e00;
	border-color: #5c2100;
}

.btn-info {
	background-color: #8300ae;
	border-color: #6c008f;
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
	background-color: #6c008f;
	border-color: #560072;
}

.thumbnail {
	border-radius: 0;
	background-color: transparent;
}

a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active {
	border-color: var(--color-3);
}

.badge {
	border-radius: 2px;
	background-color: var(--color-3);
	margin-left: 3px;
	margin-right: 5px;
}

.label {
	border-radius: 0;
}

.label-default {
	background-color: #999;
}

.label-default[href]:hover,.label-default[href]:focus {
	background-color: #808080;
}

.label-primary {
	background-color: var(--color-3);
}

.label-primary[href]:hover,.label-primary[href]:focus {
	background-color: #00627b;
}

.label-success {
	background-color: var(--color-4);
}

.label-success[href]:hover,.label-success[href]:focus {
	background-color: #804e00;
}

.label-info {
	background-color: #8300ae;
}

.label-info[href]:hover,.label-info[href]:focus {
	background-color: #6c008f;
}

.label-warning {
	background-color: #f89e01;
}

.label-warning[href]:hover,.label-warning[href]:focus {
	background-color: #de8d01;
}

.label-danger {
	background-color: #bf0000;
}

.label-danger[href]:hover,.label-danger[href]:focus {
	background-color: #a50000;
}

.table>thead>tr>th {
	border-bottom: 2px solid var(--color-3);
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f4f4f4;
}

.modal-content,.popover {
	border-radius: 0;
}


.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a,.pagination>li>span {
	background-color: #eee;
	border: 1px solid var(--color-6);
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
	background-color: var(--color-3);
	color: #fff;
	border-color: var(--color-3);
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
	color: #fff;
	background-color: var(--color-3);
	border-color: var(--color-3);
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
	background-color: #eee;
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}



dt {
	color: var(--color-3);
}

.alignleft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.alignright {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.imageborder {
	padding: 5px;
	border: solid 1px var(--color-6);
}

img+p {
	margin-top: 20px;
}

img.alignleft+p,img.alignright+p {
	margin-top: 0;
}

.p-lg {
	font-size: 1.1em;
	line-height: 180%;
}

.wrap-title {
	background-color: var(--color-6);
	border-bottom: solid 1px var(--color-2);
	color: #000;
	padding: 10px 0;
	margin-bottom: 30px;
	position: relative;
  }
  
.wrap-title .container {
	display: flex;
	justify-content: flex-end;
}
  
.breadcrumb-container {
	display: flex;
	align-items: center;
}
  
.breadcrumb {
	margin: 0;
	padding: 8px 5px 0 10px;
	background-color: transparent;
	border-radius: 0;
}
  
.breadcrumb>li+li:before {
  content: "\00AB"; /* Unicode character for a left-pointing arrow */
  color: #aaa;
  margin-right: 5px;
  font-size: 1.2em;
  transform: rotateZ(180deg); /* Rotate the arrow to point left */
}

.highlight-item {
	color: #747373; /* Replace with your desired color */
	text-decoration: none; /* Remove the underline */
	cursor: default; /* Prevent cursor from displaying as a link */
}
  
.highlight-item:before {
	content: ""; /* Remove the arrow sign */
	margin-right: 5px;
}

.page-title {
	text-transform: capitalize;
	font-weight: 300;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline-block;
	color: var(--color-1);
	-webkit-text-stroke: .007em;
}





.section-title {
/*
	text-transform: uppercase;
*/
	border-bottom: solid 1px var(--color-6);
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0;
	padding-top: 0;
}

.section-title a,.post-title a {
	text-decoration: none;
}

.post-title {
	border-bottom: solid 1px var(--color-6);
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0;
	padding-top: 0;
}

.img-caption {
	position: relative;
	padding: 5px;
	border: solid 1px var(--color-6);
	margin-bottom: 20px;
	color: #fff;
	width: 100%;
}

.img-caption img {
	width: 100%;
}

.caption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0);
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.caption .caption-content {
	width: 80%;
	height: 150px;
	left: 10%;
	top: 40%;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.caption:hover .caption-content {
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.caption:hover {
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
}

.caption .caption-content a {
	background-color: rgba(128,128,128,0.5);
	padding: 10px 10px 8px 10px;
	color: #fff;
	border: solid 1px #999;
	text-decoration: none;
	margin-bottom: 10px !important;
	display: inline-block;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.caption .caption-content a:hover {
	background-color: rgba(200,200,200,0.5);
}

.caption .caption-content a i {
	margin-right: 10px;
}

.caption .caption-content h4 {
	padding: 0;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
}

.underline-title {
	padding-bottom: 10px;
	border-bottom: solid 1px var(--color-6);
	margin-bottom: 20px;
}

.syntaxhighlighter {
	overflow-y: hidden !important;
}

.animation-delay-1 {
	-webkit-animation-delay: .1s !important;
	-moz-animation-delay: .1s !important;
	-ms-animation-delay: .1s !important;
	-o-animation-delay: .1s !important;
	animation-delay: .1s !important;
}

.animation-delay-2 {
	-webkit-animation-delay: .2s !important;
	-moz-animation-delay: .2s !important;
	-ms-animation-delay: .2s !important;
	-o-animation-delay: .2s !important;
	animation-delay: .2s !important;
}

.animation-delay-3 {
	-webkit-animation-delay: .3s !important;
	-moz-animation-delay: .3s !important;
	-ms-animation-delay: .3s !important;
	-o-animation-delay: .3s !important;
	animation-delay: .3s !important;
}

.animation-delay-4 {
	-webkit-animation-delay: .4s !important;
	-moz-animation-delay: .4s !important;
	-ms-animation-delay: .4s !important;
	-o-animation-delay: .4s !important;
	animation-delay: .4s !important;
}

.animation-delay-5 {
	-webkit-animation-delay: .5s !important;
	-moz-animation-delay: .5s !important;
	-ms-animation-delay: .5s !important;
	-o-animation-delay: .5s !important;
	animation-delay: .5s !important;
}

.animation-delay-6 {
	-webkit-animation-delay: .6s !important;
	-moz-animation-delay: .6s !important;
	-ms-animation-delay: .6s !important;
	-o-animation-delay: .6s !important;
	animation-delay: .6s !important;
}

.animation-delay-7 {
	-webkit-animation-delay: .7s !important;
	-moz-animation-delay: .7s !important;
	-ms-animation-delay: .7s !important;
	-o-animation-delay: .7s !important;
	animation-delay: .7s !important;
}

.animation-delay-8 {
	-webkit-animation-delay: .8s !important;
	-moz-animation-delay: .8s !important;
	-ms-animation-delay: .8s !important;
	-o-animation-delay: .8s !important;
	animation-delay: .8s !important;
}

.animation-delay-9 {
	-webkit-animation-delay: .9s !important;
	-moz-animation-delay: .9s !important;
	-ms-animation-delay: .9s !important;
	-o-animation-delay: .9s !important;
	animation-delay: .9s !important;
}

.animation-delay-10 {
	-webkit-animation-delay: 1s !important;
	-moz-animation-delay: 1s !important;
	-ms-animation-delay: 1s !important;
	-o-animation-delay: 1s !important;
	animation-delay: 1s !important;
}

.animation-delay-11 {
	-webkit-animation-delay: 1.1s !important;
	-moz-animation-delay: 1.1s !important;
	-ms-animation-delay: 1.1s !important;
	-o-animation-delay: 1.1s !important;
	animation-delay: 1.1s !important;
}

.animation-delay-12 {
	-webkit-animation-delay: 1.2s !important;
	-moz-animation-delay: 1.2s !important;
	-ms-animation-delay: 1.2s !important;
	-o-animation-delay: 1.2s !important;
	animation-delay: 1.2s !important;
}

.animation-delay-13 {
	-webkit-animation-delay: 1.3s !important;
	-moz-animation-delay: 1.3s !important;
	-ms-animation-delay: 1.3s !important;
	-o-animation-delay: 1.3s !important;
	animation-delay: 1.3s !important;
}

.animation-delay-14 {
	-webkit-animation-delay: 1.4s !important;
	-moz-animation-delay: 1.4s !important;
	-ms-animation-delay: 1.4s !important;
	-o-animation-delay: 1.4s !important;
	animation-delay: 1.4s !important;
}

.animation-delay-15 {
	-webkit-animation-delay: 1.5s !important;
	-moz-animation-delay: 1.5s !important;
	-ms-animation-delay: 1.5s !important;
	-o-animation-delay: 1.5s !important;
	animation-delay: 1.5s !important;
}

.animation-delay-16 {
	-webkit-animation-delay: 1.6s !important;
	-moz-animation-delay: 1.6s !important;
	-ms-animation-delay: 1.6s !important;
	-o-animation-delay: 1.6s !important;
	animation-delay: 1.6s !important;
}

.animation-delay-17 {
	-webkit-animation-delay: 1.7s !important;
	-moz-animation-delay: 1.7s !important;
	-ms-animation-delay: 1.7s !important;
	-o-animation-delay: 1.7s !important;
	animation-delay: 1.7s !important;
}

.animation-delay-18 {
	-webkit-animation-delay: 1.8s !important;
	-moz-animation-delay: 1.8s !important;
	-ms-animation-delay: 1.8s !important;
	-o-animation-delay: 1.8s !important;
	animation-delay: 1.8s !important;
}

#header {
	background-color: #471900;
	color: #fff;
	height: 150px;
}

#header a {
	text-decoration: none;
	color: #fff;
}

#header .container {
	position: relative;
}

#header-title {
	font-family: 'Abel',sans-serif;
	display: inline-block;
}

#header-title h1 {
	font-family: 'Abel',sans-serif;
	text-transform: none;
	margin: 20px 0 10px 0;
	font-size: 2.5em;
	color: #fff;
}

#header-title h1 span {
	color: var(--color-4);
}

#header-title p {
	font-size: 1.4em;
}


#search-header {
	display: inline-block;
	width: 300px;
	position: absolute;
	right: 10px;
	bottom: -30px;
}

#search-header input {
	background-color: #735035;
	border-color: #735035;
	color: #fff;
}

#search-header input:focus {
	box-shadow: none;
	border-color: #ece6e6;
}

#search-header .btn {
    color: #fff;
    background-color: #585554;
    border-color: #474645;

}

#search-header input:-moz-placeholder {
	color: var(--color-6);
}

#search-header input::-moz-placeholder {
	color: var(--color-6);
}

#search-header input:-ms-input-placeholder {
	color: var(--color-6);
}

#search-header input::-webkit-input-placeholder {
	color: var(--color-6);
}

#social-header {
	position: absolute;
	top: 10px;
	right: 10px;
}

.social-icon {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: .5s;
	-webkit-transition-property: background;
	-webkit-transition-timing-function: ease;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	color: #fff;
	cursor: auto;
	display: inline-block;
	font-size: 21px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	transition-delay: 0s;
	transition-duration: .5s;
	transition-property: background;
	transition-timing-function: ease;
	vertical-align: baseline;
	width: 35px;
	margin-left: 6px;
	border: solid 1px #576890;
}

a.social-icon:hover {
	color: #fff !important;
	background-color: var(--color-3);
}

.news-update {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
  }
  
  .news-update .date {
	flex-shrink: 0;
	margin-right: 10px;
	font-weight: bold;
  }
 
  .news-update .content {
	flex-grow: 1;
  }
  
  .news-update .note {
	margin-bottom: 5px;
	font-weight: bold;
  }
  
  .news-update .names {
	margin-bottom: 1px;
  }






/*


.soc-twitter {
	background-color: #00acee;
}

.soc-google-plus {
	background-color: #f00;
}

.soc-facebook {
	background-color: #0173b2;
}

.soc-instagram {
	background-color: #c0b2a9;
}

.soc-pinterest {
	background-color: #cb2229;
}

.soc-linkedin {
	background-color: #0274b3;
}

.soc-github {
	background-color: #000;
}
*/
.navbar-mind .navbar-brand {
	color: #fff;
	text-transform: none;
/**
	word-spacing: -6px;
**/
	font-family: 'Abel',sans-serif;
	font-size: 1.4em;
	margin-right: 20px;
}

.navbar-mind .navbar-brand span {
	color: var(--color-4);
}

.navbar-mind {
	background-color: #471900;
	color: #fff;
	margin: 0;
	border: 0;
}

.navbar-mind .nav {
	font-size: 1.1em;
	margin-left: -15px;
}

.navbar-mind .nav a {
	color: #fff;
}

.navbar-mind .nav a:hover,.navbar-mind .nav li.active a,.navbar-mind .nav a:focus {
	background-color: #471900;
}

.navbar-mind .nav .open>a,.navbar-mind .nav .open>a:hover,.navbar-mind .nav .open>a:focus {
	background-color: #471900;
	color: #fff;
}

.navbar-mind .nav a .caret {
	border-top-color: var(--color-4);
	border-bottom-color: var(--color-4);
}

.navbar-mind .nav .open>a .caret,.navbar-mind .nav .open>a:hover .caret,.navbar-mind .nav .open>a:focus .caret,.navbar-mind .nav .active .caret,.navbar-mind .nav a:hover .caret,.navbar-mind .nav a:focus .caret {
	border-top-color: var(--color-3);
	border-bottom-color: var(--color-3);
}

.navbar-mind .dropdown-menu {
	box-shadow: none;
	color: #000;
	background-color: #471900;
	border-bottom: solid 0 #471900;
	border-left: solid 1px #471900;
	border-right: solid 1px #471900;
	border-top: solid 0 #471900;
	border-radius: 0;
}

.navbar-mind .dropdown-menu a {
	color: #000;
	padding: 7px 15px;
	background-color: #eee !important;
}

.navbar-mind .dropdown-menu .dropdown-submenu {
	display: none;
	position: relative;
	left: 100%;
	top: -7px;
	box-shadow: none;
	padding: 10px 10px !important;
	color: #000;
	background-color: #471900;
	border-bottom: solid 0 #471900;
	border-left: solid 1px #471900;
	border-right: solid 16px #471900;
	border-top: solid 0 #471900;
	border-radius: 0;

}


.navbar-mind .dropdown-menu .dropdown-submenu a {
	color: #000;
	left: 100%;
	padding: 7px 15px;
	background-color: #eee !important;
}

.navbar-mind .dropdown-menu .dropdown-submenu-left {
	right: 100%;
	left: auto;
}

.navbar-mind .dropdown-menu>li:hover>.dropdown-submenu {
	display: block;
}


.navbar-mind .dropdown-menu a:hover,.navbar-mind .dropdown-menu li.active a:hover,.navbar-mind .dropdown-menu a:focus,.navbar-mind .dropdown-menu li.active a:focus,.navbar-mind .dropdown-menu li.active a {
	color: #fff;
	background-color: #7a6b62 !important;
}

.navbar-mind .dropdown-menu .dropdown-submenu a:hover,.navbar-mind .dropdown-menu .dropdown-submenu li.active a:hover,.navbar-mind .dropdown-menu .dropdown-submenu a:focus,.navbar-mind .dropdown-menu .dropdown-submenu li.active a:focus,.navbar-mind .dropdown-menu .dropdown-submenu li.active a {
	color: #fff;
	background-color: var(--color-3) !important;
}


.navbar-mind .nav .nav-divider {
	height: 2px;
	margin: 0 !important;
	overflow: hidden;
	background-color: #471900;
}

.navbar-mind .dropdown-header {
	color: var(--color-1);
	background-color: var(--color-6);
	border-bottom: solid 1px #471900;
	border-top: solid 1px #471900;
	padding: 7px 0 !important;
	text-align: center;
}

.navbar-mind .navbar-nav > li.open > a:hover,
.navbar-mind .navbar-nav > li.open > a:focus {
  background-color: var(--color-5);
  color: var(--color-1);
}

.navbar-toggle {
	background: none;
	border: none;
	padding: 0;
}
  
.nav-circle {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
	position: relative;
}
  
.bar {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 10px);
}
  
.bar:nth-child(2) {
	top: calc(50% - 1px);
	left: calc(50% - 10px);
	margin-top: -4px;
}
  
.bar:nth-child(3) {
	top: calc(50% + 3px);
	left: calc(50% - 10px);
}

.input-group-addon {
	border-radius: 0;
	background-color: var(--color-6);
}

.carousel-control {
	width: 0.01%;
	color: #000; /* Set the arrow color to black */
	opacity: 1; /* Set opacity to 1 to prevent darkening */
	background-color: transparent; /* Set background color to transparent */
  }
  
  .carousel-control:hover {
	color: #000; /* Set the hover color to black */
  }

.carousel-mind {
	background-image: url(../../data/img/home-page/carousel/back.jpg);
	background-size: cover;
}

.carousel-mind .carousel-caption {
	position: static;
	text-align: left;
}

.carousel-mind .carousel-img-wrap {
	display: table-row;
}

.carousel-mind .carousel-img {
	height: 400px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	display: static;
}

.carousel-mind .carousel-img img {
	width: 95%;
	margin: auto;
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-ms-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}

.carousel-mind .carousel-indicators {
	bottom: 0 !important;
	list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
}

.carousel-mind .carousel-indicators li {
	margin: 0 2px;
	border: 2px solid var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	/*
    margin: 5px;
	*/
	font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.carousel-indicators .indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--color-1);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	margin-right: 10px;
}

.carousel-indicators .active {
	background-color: #000;
	color: #fff;
}

.carousel-text h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 3em;
	color: #fff;
	text-transform: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	line-height: 1.4em;
}

.carousel-list {
	top: 60px;
	margin: 0 auto;
}

.carousel-list li {
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	overflow: hidden;
	font-family: 'Abel',sans-serif;
	text-transform: none;
	line-height: 1.95em;
}

.carousel-list li:nth-child(1) {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.carousel-list li:nth-child(2) {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.carousel-list li:nth-child(3) {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-ms-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}

.carousel-list li:nth-child(4) {
	-webkit-animation-delay: .9s;
	-moz-animation-delay: .9s;
	-ms-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}


.carousel-list li span {
	background-color: rgba(0,0,0,0.4);
	padding: 18px;
}

.carousel-list li i {
	padding: 18px;
	margin-right: 10px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	vertical-align: baseline;
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	width: 72px;
	text-align: center;
}

.carousel-images .carousel-indicators {
	bottom: auto;
	top: 10px;
}

.carousel-images .carousel-control {
	background-color: #000;
	position: absolute;
	top: 50%;
	bottom: auto;
	height: 50px;
	left: 20px;
	width: 50px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	opacity: 1;
	filter: none; /* alpha(opacity=50); */
	z-index: 2000;
}

.carousel-images .carousel-control.left {
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}

.carousel-images .carousel-control.right {
	right: 0;
	left: auto;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}

.carousel-images .carousel-control:hover,.carousel-images .carousel-control:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
	opacity: .9;
	filter: alpha(opacity=90);
}

.carousel-images .carousel-caption {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	left: auto;
	right: auto;
	bottom: 0;
	padding: 20px;
}

.carousel-images .carousel-caption h1,.carousel-images .carousel-caption h2,.carousel-images .carousel-caption h3,.carousel-images .carousel-caption h4,.carousel-images .carousel-caption h5,.carousel-images .carousel-caption h6 {
	color: #fff;
	margin: 0 0 10px 0;
}


/*
@media (max-width:767px) {
	.carousel-list li {
		font-size: 1.0em;
		line-height: 1.75em;
	}

	.carousel-list li span {
		padding: 5px;
	}

	.carousel-list li i {
		width: 42px;
		padding: 5px;
	}
}
*/
.mind-features-item {
	background-color: #eee;
	border: solid 1px #ccc;
	position: relative;
	overflow: hidden;
	height: 240px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 90%;
}

.mind-features-item .item-icon {
	text-align: center;
	padding: 20px;
}

.mind-features-item i {
	color: var(--color-3);
	font-size: 9em;
}

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.mind-features-item .item-content {
	background-color: var(--color-3);
	color: #fff;
	padding: 20px;
	height: 240px;
	position: absolute;
	z-index: 10;
	top: 175px;
	left: 0;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.mind-features-item:hover .item-content,.mind-features-item.cs-hover .item-content {
	top: 0;
}

.mind-features-item .item-content h3 {
	font-size: 1.3em;
	text-align: center;
	font-weight: 400;
	margin: 5px 0 15px 0;
	color: #fff;
}
/*
@media (min-width:768px) {
	.mind-features-item {
		width: 100%;
	}
}
*/
/*
@media (min-width:992px) {
	.mind-features-item .item-content {
		font-size: .9em;
		line-height: 1.6em;
	}

	.mind-features-item i {
		font-size: 9em;
	}

	.mind-features-item .item-content h3 {
		font-size: 1.3em;
		margin: 5px 0 20px 0;
	}
}
*/
/*
@media (min-width:1200px) {
	.mind-features-item .item-content {
		line-height: 1.7em;
	}

	.mind-features-item i {
		font-size: 9em;
	}
}
*/
.home-post-title a {
	color: var(--color-3);
	text-decoration: none;
}

.home-post-title a:hover {
	color: #000;
}

.home-post-footer {
	margin-top: 22px;
}

.home-post-meta {
	font-size: .9em;
	background-color: #e9e9e9;
	padding: 6px 10px;
	margin-bottom: 10px;
}

.home-post-meta i {
	color: #444;
	padding: 0 5px;
}


.notecard {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--color-1);
  font-style: italic;
}

.note-title {
	background-color: #f7f7f7;
	padding: 10px;
	margin-bottom: 10px;
	color: var(--color-1);
	font-style: italic;
	border-bottom: solid 1px var(--color-1);
	border-top: solid 1px var(--color-1);
	border-left: solid 1px var(--color-1);
	border-right: solid 1px var(--color-1);
  }


.research-canvas {
	border: solid 1px #444;
	-webkit-box-shadow: 3px 3px 8px 0 #ccc;
	-moz-box-shadow: 3px 3px 8px 0 #ccc;
	box-shadow: 3px 3px 8px 0 #ccc;
	margin-bottom: 20px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.research-canvas h2 {
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
  }
  .research-canvas p {
	font-size: 0.9em;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
  }
  .research-canvas ul {
	padding: 0;
  }
  .research-canvas ul li {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: dotted 1px var(--color-6);
	vertical-align: top;
  }
  .research-canvas ul li i {
	margin-right: 10px;
  }

.research-canvas:hover {
	-webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
	box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
}

.research-canvas .title {
	color: #fff;
	background-color: var(--color-2);
	padding: 10px;
}

.research-canvas .title>h2 {
	font-size: 1.1em;
	text-align: left;
	color: #fff;
	line-height: 1.3;
	font-weight: bold;
}

.research-canvas .title>p {
	font-size: .9em;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.research-canvas .subtitle {
	padding: 10px;
	margin-bottom: 7px;
	background-color: #ededed;
	border-bottom: solid 1px var(--color-2);
}

.research-canvas .subtitle h2 {
	font-weight: bold;
	font-size: 0.98em;
	color: var(--color-2);
	line-height: 1.1;
	padding: 0;
	margin-bottom: 0;
	margin-top: 2px;
}
.research-canvas .subtitle h3 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-size: 2.6em;
	text-align: center;
}

.research-canvas .subtitle h3>sub {
	font-size: .6em;
}

.research-canvas .image-container {
  border: 1px solid var(--color-6);
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.research-canvas img {
  max-width: 100%;
  height: auto;
}

.research-canvas .read-more {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 5px;
	background-color: #ededed;
	color: var(--color-1);
	border: none;
	border-radius: 4px;
	text-decoration: none;
	border-bottom: solid 1px var(--color-1);
	border-top: solid 1px var(--color-1);
	border-left: solid 1px var(--color-1);
	border-right: solid 1px var(--color-1);
  
}

.research-canvas2 {
	border: solid 1px var(--color-2);
	-webkit-box-shadow: 3px 3px 8px 0 #ccc;
	-moz-box-shadow: 3px 3px 8px 0 #ccc;
	box-shadow: 3px 3px 8px 0 #ccc;
	margin-bottom: 20px;
	transition: all .3s;
	position: relative;
	background-color: var(--color-bg-asiaa);
}

.research-canvas2 h2 {
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
  }
.research-canvas2 p {
	font-size: 0.9em;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.research-canvas2 ul {
	padding: 0;
}
.research-canvas2 ul li {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: dotted 1px var(--color-6);
	vertical-align: top;
}
.research-canvas2 ul li i {
	margin-right: 10px;
}

.research-canvas2:hover {
	-webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
	box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
}
  
.research-canvas2 .title {
	background-color: var(--color-2);
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: 0;
}

.research-canvas2 .title>h2 {
	font-size: 1.1em;
	text-align: left;
	color: #fff;
	line-height: 1.3;
	font-weight: bold;
}

.research-canvas2 .subtitle {
	padding: 10px;
	margin-bottom: 7px;
	background-color: #ededed;
	border-bottom: solid 1px var(--color-2);
}

.research-canvas2 .subtitle h2 {
	font-weight: bold;
	font-size: 0.98em;
	color: var(--color-2);
	line-height: 1.1;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 2px;
}
.research-canvas2 .subtitle h3 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-size: 2.6em;
	text-align: center;
}

.research-canvas2 .subtitle h3>sub {
	font-size: .6em;
}

.research-canvas2 .content {
	display: flex;
	gap: 20px;
	padding: 20px;
	margin-top: 10px; /* Add this property */
	padding-top: 10px; /* Add this property */
}
  
.research-canvas2 .image-column {
	flex: 0 0 30%; /* Set the width to 10% of the container */
    max-width: 30%;
}
  
.research-canvas2 .image-column img {
	width: 100%;
	height: auto;
}
  
.research-canvas2 .description-column {
	flex: 1 1 auto;
}

.research-canvas2 .read-more {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 5px;
	background-color: #ededed;
	color: var(--color-1);
	border: none;
	border-radius: 4px;
	text-decoration: none;
	border-bottom: solid 1px var(--color-1);
	border-top: solid 1px var(--color-1);
	border-left: solid 1px var(--color-1);
	border-right: solid 1px var(--color-1);
  
}



/*

.image-slider {
	width: 100%;
	height: 300px; 
	overflow: hidden;
	position: relative;
}
 

.image-slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
  
.image-slider img.active {
	opacity: 1;
}
*/
.image-canvas {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	justify-content: center;
  }
  
  .image-canvas .image-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	transition: transform 0.3s ease-in-out;
  }
  
  .image-canvas .image-slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .image-canvas .controls {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex; /* Add flex display to the .controls container */
	justify-content: center; /* Center the buttons horizontally */
  }
  
  .image-canvas .controls button {
	margin: 0 2.5px; /* Adjust the margin to create a smaller spacing */
  }
  
  .image-canvas .controls .play-pause {
	/* Add any desired styling for the play/pause button */
	/* For example, we'll set a fixed width based on the word "Pause" */
	min-width: 60px; /* Adjust this value based on the width of "Pause" */
  }
  
  

  


  
   
  


.pricign-box {
	border: solid 1px #444;
	-webkit-box-shadow: 3px 3px 8px 0 #ccc;
	-moz-box-shadow: 3px 3px 8px 0 #ccc;
	box-shadow: 3px 3px 8px 0 #ccc;
	margin-bottom: 20px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.pricign-box:hover {
	-webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
	box-shadow: 0 0 8px 2px rgba(0,0,0,0.39);
}

.pricing-box-header {
	color: #fff;
	background-color: #444;
	padding: 10px;
}

.pricing-box-header>h2 {
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 100%;
	font-size: 2.2em;
	text-align: center;
	color: #fff;
}

.pricing-box-header>p {
	font-size: .9em;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.pricing-box-price {
	padding: 10px;
	margin-bottom: 7px;
	background-color: #ededed;
	border-bottom: solid 1px var(--color-6);
}

.pricing-box-price h3 {
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-size: 2.6em;
	text-align: center;
}

.pricing-box-price h3>sub {
	font-size: .6em;
}

.pricing-box-content>ul {
	padding: 0;
}

.pricing-box-content>ul>li {
	list-style-type: none;
	padding: 7px 0;
	border-bottom: dotted 1px var(--color-6);
	vertical-align: top;
}

.pricing-box-content>ul>li>i {
	margin: 0 14px;
	font-size: 1.4em;
	list-style-position: inside;
}

.pricing-box-footer {
	margin: 10px auto;
	text-align: center;
}

.pricign-box-pro {
	border-color: var(--color-3);
}

.pricign-box-pro>.pricing-box-header {
	color: #fff;
	background-color: var(--color-3);
}

#footer-widgets {
	background-color: var(--color-3);
	color: #fff;
	padding: 0 0 20px 0;
	margin-top: 30px;
	border-top: solid 5px var(--color-3);
}

.footer-widget-title {
	font-family: 'Abel',sans-serif;
	text-transform: uppercase;
	font-size: 1.35em;
	color: #ff434c;
}

#footer-widgets a {
	color: var(--color-4);
	text-decoration: none;
}

#footer-widgets a:hover {
	color: #fff;
}

#footer {
	background-color: var(--color-1);
	color: #ccc;
	padding: 17px 0;
	text-align: center;
	border-top: solid 1px #444;
}

#footer a {
	color: var(--color-4);
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

#footer p {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.footer-widget .media {
	margin-bottom: 10px;
}

.footer-widget .media .media-heading {
	font-size: 1.2em;
}

.footer-widget small {
	color: #bbb;
	font-style: oblique;
}

.footer-widget .thumbnail {
	border-color: #3c5177;
}


/*
.logig-form {
	max-width: 380px;
}

.register-form {
	max-width: 500px;
}

.error-404 {
	max-width: 500px;
}
*/
.error-404 h1 {
	font-size: 6em;
	text-transform: uppercase;
	font-family: 'Abel';
}

.error-404 h2 {
	font-size: 3em;
	text-transform: uppercase;
}

hr {
	border-top: 1px solid var(--color-6);
}

.post {
	margin-bottom: 30px;
	overflow: hidden;
}

.post h1 {
	font-size: 2em;
	margin: 0 0 10px 0;
}

.img-post {
	padding: 5px;
	border: solid 1px #ccc;
	background-color: #eee;
	margin: 0 auto 20px auto;
}

.post p {
	line-height: 170%;
}

.post-info {
	margin-top: 20px;
	padding: 5px 0;
	border-top: solid 1px var(--color-6);
	border-bottom: solid 1px var(--color-6);
	overflow: hidden;
	vertical-align: baseline;
	position: relative;
}

.post-info span {
	color: var(--color-3);
}

.post-info .btn {
	position: absolute;
	right: 0;
	top: 3px;
}

.pi-content {
	margin-top: 5px;
	display: inline-block;
}

.sub-comments {
	padding-left: 50px;
	border-left: dotted 1px var(--color-6);
}

.block {
	margin-bottom: 40px;
}

.block .nav>li>a>i {
	font-size: 1.3em;
}

.block ul {
	padding: 0;
}

.block ul.simple li {
	list-style-type: none;
	margin: 3px 0;
}

.block ul.simple li a {
	border-left: solid 2px var(--color-3);
	padding-left: 20px;
}

.block ul.simple li a:hover {
	border-color: #000;
}

.block ul.simple li ul {
	padding-left: 20px;
}

.post-sidebar {
	padding: 0;
}

.post-sidebar li {
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 20px;
}

.post-sidebar img {
	float: left;
	padding: 5px;
	border: solid 1px #dccbc1;
	background-color: var(--color-6);
	margin-right: 10px;
}

.post-sidebar h4 {
	margin: 0;
	padding: 0;
	line-height: 140%;
	font-size: 1.1em;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
}

.post-sidebar .date {
	margin-top: 10px;
	color: #666;
	display: block;
}

.tags-cloud a {
	border: solid 1px var(--color-6);
	padding: 3px 5px;
	margin: 2px;
	display: inline-block;
	font-size: .9em;
	color: var(--color-3);
	text-decoration: none;
}

.tags-cloud a:hover {
	background-color: var(--color-3);
	color: #fff;
}

.comments-sidebar {
	padding: 0;
	margin: 0;
}

.comments-sidebar li {
	list-style-type: none;
	margin: 10px 0;
	overflow: hidden;
}

.comments-sidebar li:nth-child(2n) img {
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}

.comments-sidebar li:nth-child(2n+1) img {
	border-radius: 50px;
	float: right;
	margin-left: 10px;
}

.comments-sidebar li h4 {
	font-size: 1em;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	line-height: 140%;
}

#Grid .mix {
	opacity: 0;
	display: none;
}

.portfolio-control {
	padding: 0;
	margin-bottom: 40px;
}

.portfolio-control>li {
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	margin-right: 5px;
	border: solid 2px #ccc;
	margin-bottom: 5px;
}

.portfolio-control>li.active,.portfolio-control>li:hover {
	background-color: var(--color-3);
	color: #fff;
}
/*
@media (max-width:991px) {
	#color-switcher {
		visibility: hidden;
	}
}
*/
#color-switcher {
	position: fixed;
	top: 5%;
	right: -180px;
	z-index: 10000;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#color-switcher:hover {
	right: 0;
}

#color-switcher h3 {
	font-size: 1.3em;
}

#color-switcher-content {
	background-color: #fff;
	padding: 10px;
	border: solid 1px #ccc;
	display: inline-block;
	width: 180px;
}

#color-switcher-content a.color {
	display: inline-block;
	text-indent: -999999px !important;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: solid 1px #000;
	margin: 2px;
}

#color-switcher-tab {
	display: inline-block;
	position: relative;
	background-color: #fff;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
	padding: 5px 5px 3px 5px;
	margin-right: -1px;
	z-index: 10;
	vertical-align: top;
}

#color-switcher-content a.color.default {
	background-color: var(--color-3);
}

#color-switcher-content a.color.blue {
	background-color: #a33a00;
}

#color-switcher-content a.color.fuchsia {
	background-color: #cc0261;
}

#color-switcher-content a.color.puregreen {
	background-color: #068100;
}

#color-switcher-content a.color.gold {
	background-color: #a79c42;
}

#color-switcher-content a.color.grassgreen {
	background-color: #5a9900;
}

#color-switcher-content a.color.green {
	background-color: #008c73;
}

#color-switcher-content a.color.intenseblue {
	background-color: #0093e8;
}

#color-switcher-content a.color.niceblue {
	background-color: #008cba;
}

#color-switcher-content a.color.olive {
	background-color: #88a026;
}

#color-switcher-content a.color.orange {
	background-color: #d77400;
}

#color-switcher-content a.color.otherblue {
	background-color: #429ab4;
}

#color-switcher-content a.color.pink {
	background-color: #db46e4;
}

#color-switcher-content a.color.red {
	background-color: #a00000;
}

#color-switcher-content a.color.violet {
	background-color: #5400ab;
}

#back-top a {
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #eee;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#back-top a:hover {
	background-color: rgba(0,0,0,0.7);
}

#back-top a i {
	font-size: 3em;
}

.mind-features-item-transparent {
	background-color: rgba(0,0,0,0.4);
	border: none;
}

.mind-features-item-transparent .item-content {
	background-color: rgba(0,0,0,0.5) !important;
}

.mind-features-item-transparent i {
	color: rgba(255,255,255,0.7) !important;
}

.mind-features-item-transparent .item-content h3 {
	margin-bottom: 18px;
}

.coming2-copy {
	color: var(--color-6);
	padding-top: 5px;
}


/*
@media (min-width:768px) {
	.timeline-left {
		border-right: solid 5px var(--color-6);
	}

	.timeline-right {
		padding-top: 100px;
	}

	.timeline-event-left {
		width: 97%;
		position: relative;
	}

	.timeline-event-left:before {
		content: "";
		width: 20px;
		height: 20px;
		background-color: var(--color-3);
		border-radius: 50px;
		border: solid 4px var(--color-6);
		position: absolute;
		right: -37px;
		top: 13px;
		margin-left: -12px;
		z-index: 10;
	}

	.timeline-event-right:before {
		content: "";
		width: 20px;
		height: 20px;
		background-color: var(--color-3);
		border-radius: 50px;
		border: solid 4px var(--color-6);
		position: absolute;
		left: -25px;
		top: 13px;
		margin-left: -12px;
		z-index: 10;
	}

	.timeline-event-right {
		width: 97%;
		margin-left: 3%;
		position: relative;
	}

	.timeline-event:after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		top: 9px;
	}

	.timeline-event-left:after {
		border-width: 14px 0 14px 20px;
		border-color: transparent transparent transparent var(--color-3);
		right: -18px;
	}

	.timeline-event-right:after {
		border-width: 14px 20px 14px 0;
		border-color: transparent var(--color-3) transparent transparent;
		left: -18px;
	}
}
*/



/*
@media (min-width:992px) {
	.timeline-event-left:before {
		right: -41px;
		margin-left: -12px;
	}

	.timeline-event-right:before {
		left: -29px;
		margin-left: -12px;
	}
}
*/



/*
@media (min-width:1200px) {
	.timeline-event-left:before {
		right: -44px;
		margin-left: -12px;
	}

	.timeline-event-right:before {
		left: -32px;
		margin-left: -12px;
	}
}
*/

.timeline-title {
	text-align: center;
	display: block;
	margin: 0 auto 40px auto;
}

.timeline-title span {
	background-color: var(--color-3);
	padding: 8px;
	color: #fff;
	border-radius: 3px;
}

.mind-box {
	background-color: var(--color-3);
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.mind-box:hover {
	background-color: #6b2800;
}

.mind-box-success {
	background-color: #804e00;
}

.mind-box-success:hover {
	background-color: #6b2f00;
}

.mind-box-info {
	background-color: #8300ae;
}

.mind-box-info:hover {
	background-color: #700095;
}

.mind-box-warning {
	background-color: #f89e01;
}

.mind-box-warning:hover {
	background-color: #df8e01;
}

.mind-box-danger {
	background-color: #bf0000;
}

.mind-box-danger:hover {
	background-color: #a60000;
}

.mind-box-title {
	color: #fff;
	font-size: 1.5em;
}

.mind-box i {
	font-size: 4em;
	margin: 5px auto 8px auto;
}

.inverse-wrap {
	background-color: #471900;
	color: #fff;
	padding: 30px 0;
}

.inverse-wrap p {
	margin: 0;
}

.inverse-wrap .lead {
	color: #fff;
}

.inverse-wrap .lead strong {
	font-weight: 300;
	color: var(--color-4);
}

.service-list li {
	counter-increment: myIndex;
	position: relative;
	margin-bottom: 20px;
	padding: 10px 0 10px 80px;
}

.service-list li:before {
	content: counter(myIndex);
	font-family: "Roboto",sans-serif;
	font-size: 4em;
	padding: 20px 15px;
	border: solid 1px var(--color-3);
	color: var(--color-3);
	border-radius: 500px;
	position: absolute;
	top: 10px;
	left: 0;
}


.center-title {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.back {
	padding: 30px 0;
	background-color: #000;
	color: #fff;
	background-image: url(../img/back_home.jpg);
	background-size: cover;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.back h1,.back h2,.back h3,.back h4,.back h5,.back h6 {
	color: #fff;
}

.back h1 {
	font-size: 3.7em;
}

.icon-item {
	display: table;
	margin-bottom: 20px;
	padding: 20px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.icon-item:hover {
	background-color: rgba(255,255,255,0.2);
}

.icon-item i {
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
}

.icon-item:hover i {
	color: #ff965c;
}

.icon-item i {
	display: table-cell;
	font-size: 5em;
	vertical-align: middle;
	padding-right: 20px;
}

.item-content {
	display: table-cell;
}

.back .icon-item h3 {
	color: var(--color-4);
	margin: 0 0 15px 0;
}


.icon-box {
	display: table;
	margin-bottom: 20px;
}

.icon-box h3 {
	margin: 0 0 10px 0;
}

.icon-box i {
	display: table-cell;
	font-size: 3em;
	vertical-align: middle;
	background-color: #ffe8db;
	border-left: solid 4px var(--color-3);
	padding: 10px 20px;
	color: var(--color-3);
}

.icon-box .icon-box-content {
	display: table-cell;
	padding: 10px;
	background-color: #edfbff;
}

.icon-box.icon-box-success .icon-box-content {
	background-color: #efffef;
}

.icon-box.icon-box-success i {
	background-color: #dbffdb;
	border-left: solid 4px #005b00;
	color: #005b00;
}

.icon-box.icon-box-info .icon-box-content {
	background-color: #fbf0ff;
}

.icon-box.icon-box-info i {
	background-color: #f8e1ff;
	border-left: solid 4px #8300ae;
	color: #8300ae;
}

.icon-box.icon-box-warning .icon-box-content {
	background-color: #fff7ea;
}

.icon-box.icon-box-warning i {
	background-color: #fff3e0;
	border-left: solid 4px #f89e01;
	color: #f89e01;
}

.icon-box.icon-box-danger .icon-box-content {
	background-color: #fff2f2;
}

.icon-box.icon-box-danger i {
	background-color: #ffd9d9;
	border-left: solid 4px #bf0000;
	color: #bf0000;
}

.icon-box.icon-box-inverse .icon-box-content {
	background-color: var(--color-3);
	color: #fff;
}

.icon-box.icon-box-inverse i {
	background-color: #6b2600;
	border-left: solid 4px #290e00;
	color: #fff;
}

.icon-box.icon-box-inverse h1,.icon-box.icon-box-inverse h2,.icon-box.icon-box-inverse h3,.icon-box.icon-box-inverse h4,.icon-box.icon-box-inverse h5,.icon-box.icon-box-inverse h6 {
	color: #fff;
}

.icon-box.icon-box-info h1,.icon-box.icon-box-info h2,.icon-box.icon-box-info h3,.icon-box.icon-box-info h4,.icon-box.icon-box-info h5,.icon-box.icon-box-info h6 {
	color: #8300ae;
}

.icon-box.icon-box-success h1,.icon-box.icon-box-success h2,.icon-box.icon-box-success h3,.icon-box.icon-box-success h4,.icon-box.icon-box-success h5,.icon-box.icon-box-success h6 {
	color: #005b00;
}

.icon-box.icon-box-warning h1,.icon-box.icon-box-warning h2,.icon-box.icon-box-warning h3,.icon-box.icon-box-warning h4,.icon-box.icon-box-warning h5,.icon-box.icon-box-warning h6 {
	color: #f89e01;
}

.icon-box.icon-box-danger h1,.icon-box.icon-box-danger h2,.icon-box.icon-box-danger h3,.icon-box.icon-box-danger h4,.icon-box.icon-box-danger h5,.icon-box.icon-box-danger h6 {
	color: #bf0000;
}